<html>
<head>
	<title>OER Commons Search Engine</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- Stylesheets -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
	<div class="container">
		<center>
			<img class="logo" src='/static/img/logo.png'>

			<div class="row">
	  			<form class="col s12" action="/query">
					<div class="row search_bar">
						<div class="col s3"></div>

						<div class="nav-wrapper col s6">
							<nav class="blue-grey lighten-5">
						        <div class="input-field">
						          <input class="bar blue-grey lighten-5" id="q" type="search" name='q'>
						        </div>
							  </nav>
						    </div>

					</div>

					<div class="row">
						<button class="btn waves-effect waves-light" type="submit">Search</button>
					</div>

	  			</form>

				<div class='footer'>
					<p>IST 441 Team 8 - OER Commons Custom Search Engine</p>
					<p>Developed by: Yuya Ong, Wyatt Naftulin, Dana Shalit, Nick Donaghy</p>
				</div>
			</div>

		</center>
	</div>

	<!-- Javascript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>

</html>
